
.fail {
  padding: 3px;
  background-color: red;
  color: white;
}

.failOpinion {
  padding: 3px;
  background-color: yellow;
  color: green;
}

.success {
  padding: 3px;
  background-color: green;
  color: white;
}

td span {
  min-width: 80px;
}

tr:nth-child(even) {
    background-color: #F9F9F9;
}
