div.heli {
  height: 600px;
}
div form span {
  margin-right: 10px;
}
div.heliLine {
  height: 100px;
  margin-top: -50px;
  color: black;
}

div.heli div.heliLine:first-child {
  margin-top: 0;
}

div.heli div.heliLine:nth-child(3n+1) {
  color: skyblue;
}
div.heli div.heliLine:nth-child(3n+2) {
  color: olivedrab;
}
div.heli div.heliLine:nth-child(3n) {
  color: goldenrod;
}
div.heli div.heliLine:nth-child(3n+1) .yLabel text {
  fill: skyblue;
}
div.heli div.heliLine:nth-child(3n+2) .yLabel text {
  fill: olivedrab;
}
div.heli div.heliLine:nth-child(3n) .yLabel text {
  fill: goldenrod;
}

svg.seismograph {
  height: 100px;
  width: 90%;
}
canvas.seismograph {
  height: 100px;
  width: 90%;
}
path.seispath {
  stroke: skyblue;
  fill: none;
  stroke-width: 1px;
}

path.seisplot .orientZ {
  stroke: seagreen;
}

path.seisplot .orientN {
  stroke: red;
}

path.seisplot .orientE {
  stroke: orange;
}

text.sublabel {
  font-size: x-small;
}


.tooltip{
		display: inline;
		position: relative;
}

.tooltip:hover:after{
		background: #333;
		background: rgba(255,255,255,.8);
		border-radius: 5px;
		bottom: 26px;
		color: #fff;
		content: attr(title);
		left: 20%;
		padding: 5px 15px;
		position: absolute;
		z-index: 98;
		width: 220px;
}

.tooltip:hover:before{
		border: solid;
		border-color: #333 transparent;
		border-width: 6px 6px 0 6px;
		bottom: 20px;
		content: "";
		left: 50%;
		position: absolute;
		z-index: 99;
}
