svg.seismograph {
  height: 100%;
  width: 100%;
}

canvas.seismograph {
  height: 100%;
  width: 100%;
}

div.particleMotion {
}
.predicted polygon {
  fill: rgba(220,220,220,.4);
}

.pick polygon {
  fill: rgba(255,100,100,.4);
}

path.seispath {
  stroke: skyblue;
  fill: none;
  stroke-width: 1px;
}


path.orientZ {
  stroke: seagreen;
}

path.orientN {
  stroke: cornflowerblue;
}

path.orientE {
  stroke: orange;
}


path.seispath {
  stroke: skyblue;
  fill: none;
  stroke-width: 1px;
}

svg g.allsegments g:nth-child(9n+1) g path.seispath {
  stroke: skyblue;
}

svg g.allsegments g:nth-child(9n+2) g path.seispath {
  stroke: olivedrab;
}

svg g.allsegments g:nth-child(9n+3) g path.seispath {
  stroke: goldenrod;
}

svg g.allsegments g:nth-child(9n+4) g path.seispath {
  stroke: firebrick;
}

svg g.allsegments g:nth-child(9n+5) g path.seispath {
  stroke: darkcyan;
}

svg g.allsegments g:nth-child(9n+6) g path.seispath {
  stroke: orange;
}

svg g.allsegments g:nth-child(9n+7) g path.seispath {
  stroke: darkmagenta;
}

svg g.allsegments g:nth-child(9n+8) g path.seispath {
  stroke: MediumVioletRed;
}

svg g.allsegments g:nth-child(9n+9) g path.seispath {
  stroke: sienna;
}

/* same colors for titles */

svg g.title tspan:nth-child(9n+1)  {
  fill: skyblue;
}

svg g.title tspan:nth-child(9n+2)  {
  stroke: olivedrab;
}

svg g.title tspan:nth-child(9n+3)  {
  stroke: goldenrod;
}

svg g.title tspan:nth-child(9n+4)  {
  stroke: firebrick;
}

svg g.title tspan:nth-child(9n+5)  {
  stroke: darkcyan;
}

svg g.title tspan:nth-child(9n+6)  {
  stroke: orange;
}

svg g.title tspan:nth-child(9n+7)  {
  stroke: darkmagenta;
}

svg g.title tspan:nth-child(9n+8)  {
  stroke: MediumVioletRed;
}

svg g.title tspan:nth-child(9n+9)  {
  stroke: sienna;
}
