
svg.seismograph {
  height: 100%;
  width: 100%;
}

canvas.seismograph {
  height: 100%;
  width: 100%;
}
path.seispath {
  stroke: skyblue;
  fill: none;
  stroke-width: 1px;
}

path.IU.HRV..BRE {
  stroke: red;
}
path.IU.HRV..BTE {
  stroke: red;
}
path.IU.HRV..BCE {
  stroke: red;
}

.predicted polygon {
  fill: rgba(220,220,220,.4);
}

.pick polygon {
  fill: rgba(255,100,100,.4);
}
